*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    width: 100%;
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.header__logo img {
    width: 22rem;
    padding: 1rem 0;
}

.main {
    background-color: #a0a0a0;
    padding: 5rem 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__inner {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 18rem;
    margin-right: 5rem;
}

.main__info {
    font-size: 4rem;
}

.name, .surname {
    border-bottom: .5rem solid #fff;
    width: 60rem;
    color: #fff;
    margin: 1.5rem 0;
}

.info__inner {
    display: flex;
    align-items: center;
}

.info div {
    border-bottom: .5rem solid #fff;
    max-width: 80rem;
    color: #fff;
    margin: 1.5rem 0;
    font-size: 4rem;
    word-break: break-all;
    padding: 1rem 0;
    padding-right: 70rem;
    margin-right: 20rem;
}

.public span {
    color: #fff;
    font-size: 4rem;
}

.public__images {
    display: flex;
    flex-wrap: wrap;
    max-width: 30rem;
    margin-top: 1.5rem;
}

.public__images img {
    width: 10rem;
    border: .4rem solid #fff;
}

.posts {
    margin-top: 1.5rem;
}

input {
    border: unset;
    outline: 0;
    font-size: 2rem;
    width: 88rem;
    border-bottom: .5rem solid #f2c244;
    padding: 1rem 0;
    color: #a0a0a0;
}

input::placeholder {
    color: #a0a0a0;
    font-weight: 700;
    font-size: 2rem;
}

textarea {
    resize: none;
    width: 88rem;
    height: 10rem;
    border: unset;
    outline: 0;
    color: #a0a0a0;
    font-size: 2rem;
}

textarea::placeholder {
    color: #a0a0a0;
    font-weight: 700;
    font-size: 2rem;
}

.post__button {
    margin-top: 1rem;;
    padding: 1.5rem 2rem;
    background-color: #f2c244;
    color: #fff;
    border: unset;
    border-radius: .5rem;

    transition: background-color .2s linear, color .2s linear;
}

.post__button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.footer {
    background-color: #fff;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.footer__left, .footer__right {
    font-size: 3.4rem;
    color: #a0a0a0;
}



/* Media */
@media (max-width: 1400px) {

    .info__inner {
        justify-content: center;
    }

    .info div { 
        padding-right: 50rem;
        margin-right: 18rem;
    }

    .posts {
        margin-left: 2.5rem;
    }

}

@media (max-width: 1165px) {

    .info div { 
        padding-right: 30rem;
        margin-right: 15rem;
    }

    .avatar img {
        margin-left: 2.5rem;
    }

}

@media (max-width: 950px) {

    .info div {
        max-width: 40rem;
        font-size: 3rem;
        padding-right: 18rem;
        margin-right: 13rem;
    }

    .main__info {
        font-size: 3rem;
    }

    .name, .surname {
        width: 50rem;
    }

    input, textarea {
        width: 72rem;
    }

    .footer__inner {
        display: block;
        text-align: center;
    }

    .footer__left, .footer__right {
        font-size: 3rem;
    }

}


@media (max-width: 750px) {

    .info__inner {
        display: block;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info div {
        max-width: 40rem;
        font-size: 3rem;
        padding-right: 40rem;
        margin-right: 0rem;
    }

    .public {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    .public__images {
        max-width: 25rem;
    }

    .name, .surname {
        width: 40rem;
    }

    .public span {
        font-size: 3rem;
    }

    input, textarea {
        width: 60rem;
    }

    .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

}

@media (max-width: 650px) {

    .main__inner {
        display: block;
    }

    .avatar img {
        margin-left: 0;
    }

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .avatar img {
        margin-right: 0;
    }

    .main__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name, .surname {
        width: 50rem;
    }

    .info {
        margin-bottom: 2rem;
    }

    input, textarea {
        width: 50rem;
    }

    .footer__left, .footer__right {
        font-size: 2.5rem;
    }

}


@media (max-width: 550px) {
  
    .info div {
        font-size: 2.5rem;
        padding-right: 30rem;
    }   

    .main__info {
        font-size: 2.5rem;
    }
    
    .name, .surname {
        width: 40rem;
    }

    .public span {
        font-size: 2.5rem;
    }

    input, textarea {
        width: 39rem;
    }

    .footer__left, .footer__right {
        font-size: 2rem;
    }

}

@media (max-width: 425px) {
   
    .info div {
        padding-right: 17rem;
    }   
    
    .name, .surname {
        width: 30rem;
    }

    .public__images {
        max-width: 23rem;
    }

    input, textarea {
        width: 35rem;
    }

}

@media (max-width: 380px) {

    input, textarea {
        width: 30rem;
    }

    .posts {
        margin-left: 1rem;
    }



}